#telegraph {
  min-width: 400px;
  width: 30%;
  min-height: 60px;
  height: 10%;
  margin: 24px;
  position: relative;
}

#telegraph-base {
  width: 100%;
  height: 30%;
  bottom: 0%;
  border-radius: 3px;
  position: absolute;

  background: #93261f; /* Old browsers */
  background: -moz-linear-gradient(top, #93261f 0%, #700808 49%, #470909 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93261f), color-stop(49%,#700808), color-stop(100%,#470909)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #93261f 0%,#700808 49%,#470909 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #93261f 0%,#700808 49%,#470909 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #93261f 0%,#700808 49%,#470909 100%); /* IE10+ */
  background: linear-gradient(to bottom, #93261f 0%,#700808 49%,#470909 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93261f', endColorstr='#470909',GradientType=0 ); /* IE6-9 */
}

#telegraph-pivot {
  width: 2.5%;
  height: 50%;
  bottom: 30%;
  left: 90%;
  position: absolute;
  background-color: #a9743d;
}

#telegraph:active #telegraph-pivot {
  height: 65%;
}

#telegraph-thing1 {
  width: 2.5%;
  height: 30%;
  bottom: 60%;
  left: 70%;
  position: absolute;
  background-color: #a9743d;
  -webkit-transition: bottom .03s;
  transition: bottom .03s;
}

#telegraph:active #telegraph-thing1 {
  bottom: 55%;
  left: 70%;
  position: absolute;
  background-color: #a9743d;
  -webkit-transition: bottom .03s;
  transition: bottom .03s;
}

#telegraph-thing2 {
  width: 2.5%;
  height: 25%;
  bottom: 30%;
  left: 70%;
  position: absolute;
  background-color: #a9743d;
}

#telegraph-rod {
  width: 80%;
  height: 15%;
  top: 5%;
  right: 5%;
  border-radius: 5px;
  position: absolute;
  background-color: #a9743d;
  -webkit-transform-origin:80% 50%;
  -webkit-transform: rotate(3deg);
  -webkit-transition: -webkit-transform .03s;
  transform-origin:80% 50%;
  transform: rotate(3deg);
  transition: transform .03s;
}

#telegraph:active #telegraph-rod {
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.messageDisplay {
  height: 200px;
  width: 200px;
}

.messageDisplay.messaging {
  background: green;
  border: 1px solid black;
}